@model ejemploColegio.Models.Estudiante

<h1>Buscar</h1>

<h4>Ingresar un nombre para buscar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MostrarResultadosBusqueda">
            
            <div class="form-group">
                <label for="Busqueda" class="control-label"></label>
                <input name="Busqueda" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="RealizarBusqueda" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

