@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}




<div id="app">
    <h1>Create</h1>

    <h4>Estudiante</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form name="Create">
                <div class="form-group">
                    <label for="Rut" class="control-label">Rut</label>
                    <input v-model="rut" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Nombre" class="control-label">Nombre</label>
                    <input v-model="nombre" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Apellido" class="control-label">Apellido</label>
                    <input v-model="apellido" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="FechaNacimiento" class="control-label">Fecha de Nacimiento</label>
                    <input v-model="fechanacimiento" class="form-control" type="datetime-local" />
                </div>
                <div class="form-group">
                    <label for="Domicilio" class="control-label">Domicilio</label>
                    <input v-model="domicilio" class="form-control" />
                </div>

                <br />
                <div class="form-group">
                    <button v-on:click="agregarEstudiante()" class="btn btn-success btn-lg" type="button">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<br />
<div class="btn-group">
    <a asp-action="VueIndex" class="btn btn-primary active" aria-current="page">Volver a la Lista</a>
</div>


<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>
<script>
    const { createApp } = Vue
    const url = "https://localhost:7073/api/EstudiantesAPI"

    createApp({
        data() {
            return {
                message: 'Esta es una página de Creación con VueJS incrustado',
                rut: '',
                nombre: '',
                apellido: '',
                fechanacimiento: '',
                domicilio: '',
                estudiantes: []
            }
        },
        methods: {
            obtenerEstudiantes() {
                axios.get(url).then(response => {
                    console.log(response);
                    this.estudiantes = response.data;
                }).catch(error => console.log(error))
            },
            agregarEstudiante() {

                const estudiante = {
                    id: 0,
                    rut: this.rut,
                    nombre: this.nombre,
                    apellido: this.apellido,
                    fechanacimiento: this.fechanacimiento,
                    domicilio: this.domicilio
                }

                axios.post(url, estudiante).then(response => {
                    console.log(response);
                    this.message = "Usuario Agregado exitosamente!";
                    this.rut = "";
                    this.nombre = "";
                    this.apellido = "";
                    this.fechanacimiento = "";
                    this.domicilio = "";
                    window.location.href = "/Estudiantes/VueIndex/";
                }).catch(error => {
                    console.log(error)
                })
            }
        },
        created: function () {
            this.obtenerEstudiantes();
        }
    }).mount('#app')
</script>
