@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="app">

    <h1>Vue Index</h1>

    <p>
        {{ message }}
    </p>

    <div class="btn-group">
        <a asp-action="VueCreate" class="btn btn-primary active" aria-current="page">Vue Crear</a>
        <a asp-action="Buscar" class="btn btn-primary">Buscar Estudiantes</a>
        <a asp-action="Seleccionar" class="btn btn-primary">Seleccionar Estudiantes</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Rut
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Apellido
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="estudiante in estudiantes">
                <td>
                    {{estudiante.id}}
                </td>
                <td>
                    {{estudiante.nombre}}
                </td>
                <td>
                    {{estudiante.apellido}}
                </td>

                <td>
                    <div class="btn-group">
                        <a v-bind:href="'/Estudiantes/VueEdit/'+ estudiante.id " class="btn btn-primary active" aria-current="page">Editar</a>
                        <a v-bind:href="'/Estudiantes/VueDetails/'+ estudiante.id " class="btn btn-primary">Detalles</a>
                        <a v-bind:href="'/Estudiantes/VueDelete/'+ estudiante.id " class="btn btn-primary">Eliminar</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>



<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>
<script>
    const { createApp } = Vue
    const url = "https://localhost:7073/api/EstudiantesAPI"

    createApp({
        data() {
            return {
                message: 'Esta es una página con VueJS incrustado',
                estudiantes: []
            }
        },
        methods: {
            obtenerEstudiantes() {
                axios.get(url).then(response => {
                    console.log(response);
                    this.estudiantes = response.data;
                }).catch(error => console.log(error))
            }
        },
        created: function () {
            this.obtenerEstudiantes();
        }
    }).mount('#app')
</script>
